# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
.venv/

# dbt specific
target/
dbt_packages/
logs/

# DuckDB / Local Data
*.duckdb
data/raw/        # NEVER push raw data files to GitHub
.env             # To store secrets/API keys
